@model BarWebApplication.Models.DailyDeal

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DailyDeal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyDealName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyDealName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyDealImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyDealImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyDealDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyDealDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyDealPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyDealPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyDealQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyDealQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyDealDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyDealDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DailyDealId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
